Markdown==3.10
beautifulsoup4==4.14.2
mistune==3.1.4
pgvector==0.4.1
sqlalchemy==2.0.44
langchain-openai==1.0.2
google-genai==1.50.1
scikit-learn==1.7.2
python-dotenv==1.2.1
psycopg2-binary==2.9.11
langgraph==1.0.2
pillow==12.0.0
fastapi==0.115.6
uvicorn[standard]==0.34.0
pytest==9.0.1